<header>
    <nav class="navbar navbar-light navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand mx-5 mt-3" href="#">
                <span class="navbar-brand-logo">
                    ✉ Grace Baptist Church
                </span>
                <span class="navbar-brand-tagline">
                    Worship • Community • Service
                </span>
            </a>

            <button class="navbar-toggler border-0 mx-5 mt-3" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <i class="fas fa-bars navbar-toggler-icon-custom"></i>
            </button>
        </div>
    </nav>

    <!-- Offcanvas Menu -->
    <div class="offcanvas offcanvas-end offcanvas-custom" tabindex="-1" id="offcanvasRight"
        aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header border-bottom">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">Menu</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <nav>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="preaching.html">Preaching</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="sermons.html">Sermons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="events.html">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>